@import "_global.scss";
@import "style.scss";
@include headerfooter;
/*PAGE1*/
main
{
    width: 85%;
    display: flex;
    flex-direction: column;
}
#title
{
    color:#FDCB46;
}
.icon
{
    padding-top: 5px;
}
#icon-title
{
    height: 80px;
    width: 80px;
}
#menu1
{
    text-align: center;
    font-size: 1.8em;
    font-family: 'Montserrat', sans-serif ;
    color:#353535;
    font-weight: bold;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
#name-menu
{
    font-family: 'Devonshire', sans-serif;
    font-size: 2.5em;
}
.subtitle
{
    display: flex;
}
@mixin center{
    margin:auto;
    width:30%;
    height: 40px;
}
.feature1
{
    @include center;
    margin-left:0;
}
.feature2
{
    @include center;
    margin-right: 0;
}
h3
{
    font-size: 1.5em;
}
@mixin sections($color,$background-color,$font-family)
{
    background-color:$background-color;
    color: $color;
    font-family: $font-family;
    text-align: center;
    font-size: 1.7em;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 100px;
}
#section1
{
    @include sections(#3D1319,#FCDFDB,'Caveat')
}
.line
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.price
{
    font-weight: bold;
}
aside
{
    font-family: 'Devonshire', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
}
#icon-aside
{
    width: 45px;
    height: 45px;
}
#name-menu-aside
{
    margin-left: 25px;
    font-size: 1.7em;
    text-align: center;
}
@include underline-a1;
@include underline-a2;
@include underline-a3;

/*PAGE2*/

#name-menu2
{
    font-family: 'Lobster', sans-serif ;
    font-size: 2.5em;
    background: linear-gradient(to right,#C77412,#8F5AFF );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 35px;
    margin-bottom: 50px;
}
#section2
{
    @include sections(black,#FFF5FE,'Playfair Display');
    font-size:1em;
}
#article2-1
{
    color:#C67412;
}
#article2-2
{
    color:#A56799;
}
#article2-3
{
    color:#6E4CCC;
}
#section2 .price
{
    font-weight: unset;
}
.line2
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 100px;
    padding-right: 100px;
}
@include underline-b1;
@include underline-b2;
@include underline-b3;
@include mediapage1;
