@import "_global.scss";
@import "style.scss";
@include headerfooter;

main
{
    width: 85%;
    display: flex;
    flex-direction: column;
}
#title
{
    color:#FDCB46;
}
.icon
{
    padding-top: 5px;
}
#icon-title
{
    height: 80px;
    width: 80px;
}
#menu1
{
    text-align: center;
    font-size: 1.8em;
    font-family: 'Montserrat', sans-serif ;
    color:#353535;
    font-weight: bold;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
#name-menu
{
    font-family: 'Devonshire', sans-serif;
    font-size: 2.5em;
}
h3
{
    font-size: 1.5em;
}
h3::before 
{
    content: "";
    display: inline-block;
    width: 30%;
    height: 50px;
    background: url(../images/menu1/linea1.png) no-repeat;
    background-size: 100%;
    margin-right: 25px;
    vertical-align: -30%;
}
h3::after
{
    content: "";
    display: inline-block;
    width: 30%;
    height: 50px;
    background: url(../images/menu1/linea2.png) no-repeat;
    background-size: 100%;
    margin-left: 25px;
    vertical-align: -40%;
}


#section
{
    text-align: center;
    color:#3D1319;
    font-size: 1.7em;
    background-color: #FCDFDB;
    font-family: 'Caveat', sans-serif ;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 100px;
}
.line
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.price
{
    font-weight: bold;
}
aside
{
    font-family: 'Devonshire', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
}
#icon-aside
{
    width: 45px;
    height: 45px;
}
#name-menu-aside
{
    margin-left: 25px;
    font-size: 1.7em;
    text-align: center;
}
@include mediapage1